body {background: #1262b7;}
#header {background:#1262b7 url(../images/yingmei/0/bg/07.jpg) no-repeat top right;}
#topnav ul li{background-color: #267fde;color: #eeeeff;transition-duration: 300ms;}
#topnav ul li:hover{ color:#fff;background-color:#2e9aff}
#topnav ul .active{ background-color:#1b8af9; color:#fff}
#topnav ul li.cashier{color:#bbee06;background-color:#008d00}
#topnav ul li.cashier:hover{color:#fff;background-color:#74da36}
#topnav ul li.open{color:#fff;background-color:#5dc31f}
#user-nav > ul > li{ box-shadow:none;}
#search input[type=text], #search button {background-color: #235fba}
#search input[type=text]:focus {color: #fff}
#sidebar { box-shadow: inset 0px 5px 8px rgba(0,0,0,0.2); border-top:1px solid #004996;}
#sidebar > ul {border-bottom: 1px solid #346fc8; border-top: 1px solid #1b4b94;}
#sidebar > ul > li {border-top: 1px solid #1b6fc8; border-bottom: 1px solid #0954a4;}
#sidebar > ul > li > a{ color:#FFF}
#sidebar > ul > li.active {background-color: #5491EE;}
#sidebar > ul > li.open.submenu > a {border-bottom: 0px solid #1550a9;}
#sidebar > ul > li.open.active.submenu > a {color:#fff;border-bottom: 1px solid #1550a9;}
#sidebar > ul > li > a > .label {background-color: #1b56ae;}
#sidebar > ul > li > a:hover {background-color: #3370cd;}
#sidebar > ul ul {border-bottom: 1px solid #0954a4;border-top: 1px solid #0954a4;background-color: #0e49a1;}
#sidebar > ul ul li a {color:#e2f4ff;border-bottom: 1px solid #053d96;border-top: 1px solid #1e55b1;}
#sidebar > ul ul li a:hover, #sidebar > ul ul li.active a {color: #fff;background-color: #1e59b2;}
#sidebar > ul ul li.active a {background-color: #2665c5;}
.dropdown-menu li a:hover, .dropdown-menu .active a, .dropdown-menu .active a:hover { color: #1262b7;background-color: #dcedff}

@media (max-width: 480px) {
#sidebar > a {background-color: #1e59b2;	border-bottom: 1px solid #053d96;}
#sidebar > ul {background-color: #235fba;}
}
@media (min-width: 481px) and (max-width: 767px) {
#sidebar > ul ul:before {border-right: 7px solid rgba(0, 0, 0, 0.2);}
#sidebar > ul ul:after {border-right: 6px solid #235fba;}
}
